################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/superdup-auth-ngdemo/www
/superdup-auth-ngdemo/source/auth-secrets.json
