<div>
    <h1>userpage...</h1>

    <div>
        Hello
        <span ng-hide="ctrl.isLoggedIn()">Anonymous</span>
        <span ng-show="ctrl.isLoggedIn()">{{ctrl.user.handle}}</span>
    </div>
    <div>
        <p></p>
        <table>
            <tr>
                <td colspan="2" align="center">
                    <img src="{{login.user.picture}}" height="128" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">{{ctrl.user.handle}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><b>id_token</b></td>
            </tr>
            <tr ng-repeat="(key, value) in ctrl.user.idtokenClaims">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button ng-show="ctrl.isLoggedIn()" ng-click="ctrl.logout()">
                        Log out...
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table ng-repeat="token in ctrl.tokens track by tokenName">
            <tr>
                <td colspan="2" align="center"><b>access_token {{token.tokenName}}</b></td>
            </tr>
            <tr ng-repeat="(key, value) in token.tokenValue">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>
    </div>
</div>